ul  {
   line-height:1.25
   }

p{
   font-weight: bold;

}

body {
  padding: 30px;
}

pre {
  padding: 6px 28px 6px 28px;
  background-color: #E8EEF7;
}
pre, pre *, code, code *, kbd {
  font-family: Courier New, Courier;
  font-size: 10pt;
}

h1, h1 * {
  font-size: 24pt;
  color: #16425f;
}
h2 {
	width: 100%;
}
h2 .success {
	background: none !important;
	border: 0;
}

h2 .failure {
	background: none !important;
}

p, td, th, li  {
  font-size: 12pt;
  font-weight: bold;
    font-family: Arial;
    line-height: 1.85;
}


.breadcrumbs  {
  font-size: 10pt;
}

.versionElement{
    color: #7b7b7b;
    margin-left: 1em;
}

.IntroImages{
  width: 90%;
  }

table {
  border-collapse: collapse;
  empty-cells: show;
  margin: 8px 0px 8px 0px;
}
th, td {
  border: 1px solid black;
  padding: 3px;
}
td {
  background-color: white;
  vertical-align: top;
}
th {
  background-color: #C3D9FF;
}

.example, :not(th)[concordion\:example] {
  padding: 0.5em 1em;
  border: 1px solid #C3D9FF;
  margin-top: 0.5em;

}
.example h3, [concordion\:example] h3 {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12pt;
}

[concordion\:example] ul {
  margin-left: 3em;
}

[concordion\:example] li {
  margin-top: 0.5em;
}

[concordion\:example] p {
  margin-left: 3em;
}
[concordion\:example] h2 {
    margin: 0.5em;
}
ins {
  text-decoration: none;
}

.exceptionMessage {
  background-color: #fdd;
  font-family: Courier New, Courier, Monospace;
  font-size: 10pt;
  display: block;
  font-weight: normal;
  padding: 4px;
  text-decoration: none !important;
}
.stackTrace, .stackTrace * {
  font-weight: normal;
}
.stackTrace {
  display: none;
  padding: 1px 4px 4px 4px;
  background-color: #fdd;
  border-top: 1px dotted black;
}
.stackTraceExceptionMessage {
  display: block;
  font-family: Courier New, Courier, Monospace;
  font-size: 8pt;
  white-space: wrap;
  padding: 1px 0px 1px 0px;
}
.stackTraceEntry {
  white-space: nowrap;
  font-family: Courier New, Courier, Monospace;
  display: block;
  font-size: 8pt;
  padding: 1px 0px 1px 32px;
}
.stackTraceButton {
  font-size: 8pt;
  margin: 2px 8px 2px 0px;
  font-weight: normal;
  font-family: Arial;
}

.special {
  font-style: italic;
}
.missing, .missing * {
  background-color: #ff9999;
  color:#bb5050;
  text-decoration: line-through;
}
.surplus, .surplus * {
  background-color: #ff9999;
}


.idea {
  font-size: 9pt;
  color: #888;
  font-style: italic;
}
.tight li {
  margin-top: 1px;
  margin-bottom: 1px;
}
.commentary {
  float: right;
  width: 200px;
  background-color: #ffffd0;
  padding:8px;
  border: 3px solid #eeeeb0;
  margin: 10px 0px 10px 10px;
}
.commentary, .commentary * {
  font-size: 8pt;
}
.footer {

  margin-top: 20px;
  font-size: 8pt;
  width: 100%;
  padding: 2px 10px 0px 0px;
  float: right;
  height: 80px;
   text-align: right;
 color: #ddd;
}


img[alt=janusLogo] {
    float: right;
    position: absolute;
    top: 3em;
    right: 3em;
}

.resultsTable {
	width: 100%;
	margin-left: 1em;
	/*padding: 2em;*/
  /*  border-width: 2px; */
   /*margin-top: -100; */
}

.TablesForIntro {
	border: none !important;
    border-width: 0;
    border: none !important;
    width:100%;

}

.TablesForIntro td {
  vertical-align: middle;
  padding: 2em;
  font-weight: bold;
  font-size: 15;
  color: #16425f;
  width: 30%;

}

.resultsTable td {
  border: none !important;
 vertical-align: middle;
 padding-left: 0em;
  font-weight: bold;
  font-size: 18;
  color: #16425f;
}


.introTable{
	width: 100%;
	padding: 2em;
	 border: none !important;
    }

.Icon{
      margin-left: 2em;
}

.Icon2{
     margin-left: 3em;
}
.Icon3{
margin-left: 4em;
}
.Icon4{
 margin-left: 5em;
}

div#introductionLinkDiv {
   float: right;
   margin-right: 160px;
   margin-top: 1.5em;

}

.introTable td {
      vertical-align: middle;

       border: none !important;
      font-weight: bold;
      font-size: 15;
      width: 50%;
      margin-left: 0;
}

.suiteImage {
	border: none;
	border-width: 0;
	background-color: white;
	/*width: 550px;*/
}

a {
	text-decoration: none;
}
a:HOVER {
	background-color: #ffffff;
}

.breadcrumbs {
	text-decoration: none;
	color: #C3D9FF;
}

span.breadcrumbs a {
    border-bottom: 1px solid #C3D9FF;
    padding: 0.25em;
}

span.breadcrumbs a:HOVER {
   background-color: #F5F9FD;
}


a.resultLink{
	width: 100%;
	display: inline-block;
	border: none;
	color: #16425f;
}

a.resultLink :hover{
	background-color: white;
}

a:visited {
    color: #16425f;
}

.resultContainer {
	width: 100%;
	height: 1.5em;
	margin-top: 6px;
	background-color: grey;
}

.resultBar {
	margin: 0;
	padding: 0.5em 0;
	display: inline-block;
	font-size: smaller;
	font-family: "Arial Narrow", Arial, sans-serif;
	overflow: hidden;
}

.resultBar span {
	margin-left: 0.5em;
}

.successBar, .successBar span {
	/* background: #16425f; */
	background: #2e7e09;
	color: white !important;
}

.failureBar {
	/* background: #f48141; */
	background: #e50000;
}

ul {
	list-style-image: none;
	padding-left: 0;
	line-height:1.25;
}
ul li a {
	width: 100%;
}

li.resultLinkLi {
	padding: 0.5em 1em;
	border: 1px solid #C3D9FF;
	margin: 6px 0px 6px 0px;
	background-color: #F5F9FD;
	list-style-type: none;
	line-height:1.25;
}

.example {

	padding: 0.5em 1em;
    border: 1px solid #C3D9FF;
    margin: 6px 0px 6px 0px;
    list-style-type: none;
}

.success, .success * {
	border-bottom: 1px solid #00AA00;
}

.actual, .actual * {
	border-bottom: 1px solid #FFFF00;
}

.failure .expected {
    color: #aa0000;;
}

div.successExample ul li {
	/*background: #16425f; */
	background: #2e7e09;
}

div.failureExample {
	/*background: #f48141;*/
	background: #e50000;
	border: 1px solid #ff0000;
}

div.successExample {
/*	background: #16425f;*/
  background: #2e7e09;
	color: white;
}

div.ignoreExample {
    background: grey;
    color: #615b5b;
}

div.ignoreExample * {
     border: none !important;
 }

div.ignoreExample del.expected {
     display: none !important;
}

span.totalsResults {
    border: none;
    font-size: 0.8em;
}

#contents{
     width: 200px;
     margin: 0;
     border: 1px solid #16425f;
     text-align:left;

}